<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
        The destination address you requested, 
        <strong><%=h @dest %></strong>, is contained in a prefix that has
        either been allocated for private use or whose owner has asked us not
        to probe it. As a result, we did not attempt a reverse traceroute.
    </p><p>
        Please reply to this email if you have further questions that aren't 
        answered in our 
        <a href="http://revtr.cs.washington.edu/FAQ.html">FAQ</a>.
    </p><p>
        Thank you for your patience.
    </p>
  </body>
</html>
